<%- include ("partials/head") %>
<body>
    <div class="center_container">
        <h1>Log In</h1>
        <form action="/login" method="POST">
            Username:
            <input type="text" name="username"> <br>

            Password:
            <input type="password" name="password"> <br>

            <% if (warning) { %>
                <div name="alert"><%= warning %></div>
            <% } %>
            <button>Login</button>
        </form>
    </div>
    
</body>
</html>