<%- include ("partials/head") %>
<body>
    <div class="center_container">
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">
            Username:
            <input type="text" name="username"> <br>

            Password:
            <input type="password" name="password"> <br>

            <% if (warning) { %>
                <div name="alert"><%= warning %></div>
            <% } %>
            <button>Sign Up</button>
        </form>
    </div>    
</body>
</html>